* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}


/* 笔刷粗细调节 */

#range-wrap {
    position: fixed;
    top: 50%;
    right: 30px;
    width: 20px;
    height: 120px;
    margin-top: -75px;
}

#range-wrap input {
    transform: rotate(-90deg);
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    border-radius: 15px;
    -webkit-appearance: none;
    outline: none;
    position: relative;
}

#range-wrap input::after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right: 150px solid #00CCFF;
    border-left-width: 0;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 15px;
    z-index: 0;
}

#range-wrap input[type=range]::-webkit-slider-thumb,
#range-wrap input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
}

#range-wrap input[type=range]::-webkit-slider-runnable-track,
#range-wrap input[type=range]::-moz-range-track {
    height: 10px;
    border-radius: 10px;
    box-shadow: none;
}

#range-wrap input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -1px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 8px #00CCFF;
    position: relative;
    z-index: 999;
}


/* 画板部分 */

#drawing-board {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    display: block;
    cursor: crosshair;
}


/* 工具按钮设置 */

.tools button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 27px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #eee;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 20px;
    text-align: center;
    color: #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    z-index: 200;
}

.tools button i {
    font-size: 27px;
}

#eraser,
#brush,
#clear,
#undo,
#save {
    bottom: 15px;
    position: fixed;
    z-index: 300;
}

#brush {
    right: 900px;
}

#eraser {
    right: 800px;
}

#clear {
    right: 700px;
}

#undo {
    right: 600px;
}

#save {
    right: 500px;
}

.tools button.active,
.tools button:active {
    box-shadow: 0 0 10px #00CCFF;
    color: #00CCFF;
}


/* 颜色组按钮设置 */

.color-group {
    position: fixed;
    width: 35px;
    height: 35px;
    left: 26px;
    top: 50%;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate(0, -150px);
}

.color-group ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.color-group ul li {
    width: 35px;
    height: 35px;
    margin: 10px 0;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
}

.color-group ul li.active {
    box-shadow: 0 0 15px #00CCFF;
}


/* 标题大小 */

.title {
    text-align: center;
    font-size: 18px;
    word-spacing: 5px;
    letter-spacing: 2px;
    z-index: 100;
}


/* 纸飞机按钮设置 */

button {
    font-size: 50px;
    color: rgb(58, 124, 247);
    outline: none;
    border: 2px solid rgb(58, 124, 247);
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    text-align: center;
    line-height: 88px;
}

button i:hover {
    color: rgb(253, 123, 36);
}

button i:active {
    color: rgb(6, 155, 6);
}


/* 手机端适配 */

@media screen and (max-width: 768px) {
    /* 标题大小设置 */
    .title {
        font-size: 14px;
    }
    /* 功能工具按钮大小 */
    .tools button {
        width: 40px;
        height: 40px;
        line-height: 12px;
        border-radius: 50%;
        margin: 10px 7px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    /* 功能工具按钮点击时候的变化 */
    .tools button.active,
    .tools button:active {
        box-shadow: 0 0 5px #00CCFF;
    }
    .tools button i {
        font-size: 16px;
    }
    .tools #swatches {
        display: none;
    }
    /* 功能按钮图标大小 */
    .tools button i {
        font-size: 20px;
    }
    /* 手机端功能按钮图标定位 */
    #eraser,
    #brush,
    #clear,
    #undo,
    #save {
        right: 10px;
        position: fixed;
        z-index: 300;
    }
    #brush {
        top: 250px;
    }
    #eraser {
        top: 300px;
    }
    #clear {
        top: 350px;
    }
    #undo {
        top: 400px;
    }
    #save {
        top: 450px;
    }
    /* 颜色组的设置 */
    .color-switcher {
        position: fixed;
        top: 30%;
        left: 0px;
        width: 70px;
        height: 350px;
        padding: 10px;
        background: rgb(255, 255, 255);
        z-index: 1000;
    }
    .color-group {
        position: fixed;
        left: 15px;
        top: 70%;
        transform: translate(0, -150px);
    }
    .color-group ul li {
        display: inline-block;
        margin: 5px 5px;
        width: 25px;
        height: 25px;
    }
    /* 颜色组按钮点击时的变化 */
    .color-group ul li.active {
        box-shadow: 0 0 10px #00CCFF;
    }
    /* 笔刷 */
    #range-wrap {
        top: 30%;
        left: 23px;
    }
    /* 纸飞机按钮设置 */
    button {
        font-size: 32px;
        color: rgb(58, 124, 247);
        outline: none;
        border: 2px solid rgb(58, 124, 247);
        position: fixed;
        bottom: 40px;
        right: 15px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
    }
}